.navbar {
    height: 42px;
    min-height: 42px;
    background-color: #9d261d;
    background-image: linear-gradient(-30deg, #9e271e, #9a251d);
}

.navbar-brand {
    text-align: left;
    margin-left: 0px;
    font-weight: bold;
    font-size: 20pt;
    padding-top: 10px;
    text-shadow: 2px 2px 2px #333333;
}

.navbar .btn-inverse {
    color: #717171;
    font-weight: bold;
    font-size: 13px;
    background-color: #fff;
}

.navbar .btn-inverse:hover {
    color: #070707;
    background-color: #d1d1d1;
}

.navbar input, .navbar button {
    height: 30px;
}

.navbar input {
    padding: 8px;
}

.navbar button {
    padding: 0;
}

.navbar-inverse {
    border-color: #fff;
}

.navbar-inverse .navbar-collapse {
    border-color: #B3464C;
}

.navbar-inverse .navbar-form {
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-form {
    text-align: right;
    margin-right: 20px;
}

.navbar-form * {
    height: 35px;
    margin-top: 3.5px;
}

.navbar-form input {
    min-height: 0px;
    width: 180px;
}

.navbar-form button {
    width: 70px;
}

.nav {
    margin-top: 2px;
}

.nav .user-menu {
    margin-top: -3px;
}

.nav > li.dropdown > a {
    color: #fff;
    font-size: 12pt;
    text-shadow: 2px 2px 2px #333333;
}

.nav .user-name {
    margin-left: 4px;
}

.navbar .nav li.dropdown > a .icon-user {
    font-size: 16pt;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.nav .user-menu {
    font-weight: bold;
}

.nav .user-menu > a.dropdown-toggle {
    background-color:inherit;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
}

.nav .user-menu > a.dropdown-toggle:hover {
    background-color:inherit;
    color: #fff;
}

.nav .user-menu > a.dropdown-toggle:focus {
    background-color:inherit;
    color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
    padding: 0 10px 0 10px;
    margin-top: 0;
    top: 6px;
}

.dropdown-menu {
    padding: 4px 0;
}

.dropdown-menu .divider {
    margin: 2px 0;
}

.dropdown-menu>li>a{
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #9d261d;
    background-image: none;
    color: #fff;
}

.navbar .navbar-nav-small {
    display: none;
}

.navbar .navbar-nav-large {
    display: block;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 12px;
}

@media (max-width: 767px) {
    .nav {
        margin-top: 0;
    }

    header div.container {
        width: 100%;
    }

    .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-brand {
        padding: 10px;
    }

    .navbar-collapse {
        background-color: #9d261d;
        background-image: linear-gradient(-30deg, #9e271e, #9a251d);
    }

    .navbar-collapse .pull-right {
        float: none!important;
    }

    .navbar-form {
        margin: 0 20px 0 20px;
    }

    .navbar-form input {
        width: 100%;
    }

    .navbar-nav {
        margin-bottom: 0;
    }

    .navbar .navbar-nav-small {
        display: block;
    }

    .navbar .navbar-nav-large {
        display: none;
    }

    .navbar-inverse .navbar-nav>li>a {
        padding-top: 4px;
        padding-bottom: 10px;
        color: #fff;
    }
}

@media (max-width: 480px) {
}
