body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    margin: 40px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
<<<<<<< HEAD
        margin-top: 60px;
=======
       margin-top: 20px;
>>>>>>> 96bd73fd21cbe5a5b9f02bf5b470cde4e5317327
    }
    .body-content {
        padding: 0;
    }
}
