
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 60px;
    }
    .body-content {
        padding: 0;
    }
}
