div.sidebar {
   margin: 100px auto;
}  

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #B3343B;
}

.nav-pills a {
    color: rgb(150, 50, 50);
}

div.profile {
    height: 300px;
    width: 330px;
    margin: 100px auto;
    text-align:left;
}

div.profile td.sep {
    padding-bottom: 14px;
}

div.profile div.alert {
    margin: 14px 2px 0 2px;;
    display: none;
}

div.profile div.alert-visible {
    display: block;
}

div.well {
   margin: 0px; 
}

input.btn {
    width: 330px;
}

@media (max-width: 767px) {
    div.profile {
        width: 300px;
    }

    input.btn {
        width: 300px;
    }
}
