html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
    padding: 0;
}

/* Navbar */
.navbar {
    border: 0;
}

.navbar .navbar-brand, .navbar .navbar-nav>li>a {
    color: #e2e2e2;
}

.navbar .navbar-toggle {
    border-color: #ffffff;
}

.navbar .control-icon {
    font-size: 19px;
}

.navbar .control-icon-text {
    display: none;
}

/* Main Content */
.main-content {
    height: 100%;
    padding: 42px 0 0 0;
}

.large-videos {
    text-align: center;
    height: 100%;
    padding-bottom: 120px;
    overflow: hidden;
}

.large-video {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
}

.small-videos {
    bottom: 120px;
    height: 120px;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: #000;
}

.small-video {
    height: 100%; 
}

.room-videos {
    height: 100%;
}

/* Modal Box */
.modal-dialog {
    width:50%;
    margin-left: -25%;
}

.open-status-modal-body {
    height: 220px;
}

.access-control-btn {
    margin-bottom: 14px;
}

.open-status-save {
    margin-top: 14px;
}

.open-status-save-btn {
    width: 100px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner .active {
    cursor:progress;
}

.has-spinner .active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner .btn-small .active .spinner {
    width: 13px;
}

/* Side Content */
.side-content {
    height: 100%;
    padding-top: 42px;
    padding-left: 0;
    padding-right: 0;
    background-color: #f1f1f1;
    border-left: 1px solid #aaa;
}

.side-content .chat-content-wrapper {
    height: 90%;
    padding: 4px 0 4px 8px;
}

.side-content .chat-input-wrapper {
    height: 10%;
    padding: 4px 0 4px 8px;
    border-top: 2px solid #fff;
}

.side-content .chat-content {
    height: 100%;
    width: 100%;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: auto;
    font-size: 10pt;
    padding: 6px 6px 0 6px;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    resize: none;
    font-family: sans-serif;
}

.side-content .chat-input {
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 10pt;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: auto;
    padding: 6px;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

@media (max-width: 1199px) {
    .side-content {
        padding-left: 0 0 0 4px;
        display: none;
    }

    .side-content .chat-input-wrapper {
        height: 120px;
    }

    .side-content .chat-content-wrapper {
        height: 120px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 4px;
    }
}

@media (max-width: 767px) {
    .navbar .nav {
        float: left !important;
        margin-top: 8px;
    }

    .navbar .control-icon-text {
        display: block;
        text-align: left;
    }

    .navbar .navbar-nav>li {
        width: 200px;
    }

    .navbar .control-icon {
        width: 40px;
        text-align: center;
        padding-right: 10px;
    }

    .main-content .large-videos {
        padding-bottom: 120px;
    }

    .main-content .small-videos {
        height: 120px;
        bottom: 120px;
    }

    .main-content .largeVideo {
        max-width: none;
        max-height: none;
    }
}

@media (max-height: 767px) {
    .main-content .large-videos {
        padding-bottom: 80px;
    }

    .main-content .small-videos {
        height: 80px;
        bottom: 80px;
    }
}

/*@media (max-height: 480px) {*/
/*    .main-content .large-videos {*/
/*        padding-bottom: 80px;*/
/*    }*/

/*    .main-content .small-videos {*/
/*        height: 80px;*/
/*        bottom: 80px;*/
/*    }*/
/*}*/

/*
.room-head {
    height: 8.53%;
}

.room-info {
    margin-top: 12px;
    font-weight: bold;
}

#room-title {
    font-size: 15pt;
    padding: 0 0 0 0;
    min-height: 25px;
    border: none;
    font-weight: bold;
    box-shadow: none;
}

#room-description {
    font-size: 10pt;
    padding: 0 0 0 1px;
    min-height: 25px;
    border: none;
    box-shadow: none;
}

.room-invite {
    padding: 18px 0 0 0;
    text-align: right;
}

.invite-control {
    margin-bottom: 6px;
}

.invite-open-status {
}

.invite-label {
    font-size: 10pt;
    font-weight: bold;
}

.invite-label-right {
    margin-left: 8px;
}

.invite-icons-wrapper {
    padding-left: 5px;
}

.invite-icon {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
}

.invite-icons-wrapper > a {
    text-decoration:none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.invite-icons-wrapper > a:link { color:gray; }

.invite-icons-wrapper > a:visited { color:gray; }

.invite-icons-wrapper > a:hover { color:black; }

.invite-icons-wrapper > a:active { color:gray; }

#remote {
    position: absolute;
    width: 100%;
    -webkit-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
}
*/
