html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
    padding: 0;
}

/* Navbar */
.navbar {
    border: 0;
}

.navbar .navbar-brand, .navbar .navbar-nav>li>a {
    color: #e2e2e2;
}

.navbar .navbar-toggle {
    border-color: #ffffff;
}

.navbar .control-icon {
    font-size: 19px;
}

.navbar .control-icon-text {
    display: none;
}

/* Main Content */
.main-content {
    height: 100%;
    padding: 42px 0 0 0;
}

.room-videos {
    height: 100%;
}

.large-videos {
    text-align: center;
    height: 100%;
/*    padding-bottom: 120px;*/
    overflow: hidden;
    visibility: hidden;
}

.large-video {
    width: 100%;
    height: auto;
    opacity: 1;
    position: relative;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 2s;
}

.small-videos {
    bottom: 120px;
    height: 120px;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: rgba(50, 50, 50);
    background-color: rgba(50, 50, 50, .25);
}

.small-video {
    height: 100%; 
}


.btn-invite {
    color: rgba(200,200,200,.4);
    padding-left: 20px;
    visibility: hidden;
}

.btn-invite a {
    text-decoration: none;
    color: rgba(200,200,200,.4);
}

.btn-invite a:visited {
    color: rgba(200,200,200,.4);
}

.btn-invite a:hover, .btn-invite a:focus {
    color: rgba(200,200,200,.4);
}

.btn-invite .icon-user {
    font-size: 90px;

}

.btn-invite .icon-plus-sign {
    font-size: 30px;
    bottom: 55px;
    right: 16px;
    position: relative;
}

/* Modal Box */
.modal {
    overflow: hidden;
}

.modal-dialog {
    width: 700px;
    margin: 20px auto 0 auto;
    max-height: 100%;
}

.modal-header {
    padding: 12px 20px 10px 20px;
}

.modal-header .close {
    font-size: 30px;
}

.modal-body {
    padding: 14px 14px 20px 14px;
    min-height: 220px;
}

.modal-body .nav {
    padding-left: 14px;
}

.modal-body .nav-pills>li>a {
    border-radius: 0;
    padding: 8px 14px;
    color: #B3464C;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #B3464C;
}

.modal-body .tab-content {
    padding-left: 20px;
}

.modal-body .tab-content .title {
    font-weight: bold;
    color: #666666;
    margin-bottom: 4px;
}

.modal-body .tab-content input#invite-email {
    width: 220px;
    display: inline-block;
}

.modal-body .tab-content div#invite-email-set {
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.modal-body .tab-content div.invite-email-info {
    display: none;
    padding: 4px 10px;
    margin: 2px 4px 2px 0;
}

.modal-body .tab-content button.btn-added-email {
    margin: 2px 4px 2px 0;
    padding: 2px 10px;
    font-weight: bold;
    color: #888888;
    font-size: 14px;
}

.modal-body .tab-content button.btn-added-email .close {
    padding-top: 1px;
    padding-left: 8px;
}

.modal-body .tab-content .invite-facebook, .modal-body .tab-content .invite-twitter {
    margin: 8px 0 8px 0;
    font-size: 12px;
    color: #888888;
}

.modal-body .tab-content .invite-url {
    margin-top: 15px;
}

.modal-body .row i {
    font-size: 16px;
}

.modal-body .row i.icon-facebook {
    margin-left: 6px;
    margin-right: 4px;
}

.modal-body div.sep {
    padding-top: 12px;
}

.open-status-modal-body {
    height: 220px;
}

.open-status-modal-body label {
    line-height: 33px;
}

.access-control-btn {
    margin-bottom: 14px;
}

.open-status-save {
    margin-top: 14px;
}

.open-status-save-btn {
    width: 100px;
}

.modal-dialog .msg {
    padding: 10px 20px 10px 28px;
    display: none;
}

.modal-dialog .alert {
    margin-top: 10px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner .active {
    cursor:progress;
}

.has-spinner .active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner .btn-small .active .spinner {
    width: 13px;
}

/* Side Content */
.side-content {
    height: 100%;
    padding-top: 42px;
    padding-left: 0;
    padding-right: 0;
    background-color: #f1f1f1;
    border-left: 1px solid #aaa;
}

.side-content .side-top {
    height: 90%;
    background-color: #fff;
    padding-bottom: 52px;
}

.side-content .side-bottom {
    height: 10%;
    padding: 4px 0 4px 8px;
    background-color: transparent;
}

.side-content .chat-content-wrapper {
    height: 100%;
    margin-top: 104px;
    position: relative;
    bottom: 104px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}


.side-content .room-info-wrapper {
    background-color: #f1f1f1;
    padding: 4px 4px 6px 4px;
}

.side-content .room-title {
    width: 100%;
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.side-content .room-description {
    width: 100%;
    height: 18px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: normal;
}

.side-content .chat-input-wrapper {
    height: 100%;
}

.side-content .chat-content {
    height: 100%;
    width: 100%;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: auto;
    font-size: 10pt;
    padding: 10px 6px 4px 10px;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    resize: none;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.side-content .chat-input {
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 10pt;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: auto;
    padding: 6px;
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

@media (max-width: 1199px) {
    .side-content {
        padding-left: 0 0 0 4px;
        display: none;
    }

    .side-content .chat-input-wrapper {
        height: 120px;
    }

    .side-content .chat-content-wrapper {
        height: 120px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 4px;
    }
}

@media (max-width: 767px) {
    .navbar .nav {
        float: left !important;
        margin-top: 8px;
    }

    .navbar .control-icon-text {
        display: block;
        text-align: left;
    }

    .navbar .navbar-nav>li {
        width: 250px;
    }

    .navbar .control-icon {
        width: 40px;
        text-align: center;
        padding-right: 10px;
    }

    .main-content .large-videos {
/*        padding-bottom: 120px;*/
    }

    .main-content .small-videos {
        height: 120px;
        bottom: 120px;
    }

    .main-content .largeVideo {
        max-width: none;
        max-height: none;
    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 4px auto 0 auto;
    }

    .modal-dialog .modal-header {
        padding: 8px 16px 8px 16px;
    }

    .modal-body .nav-pills>li>a {
        padding: 4px 10px;
    }

    .modal-dialog .tab-content {
        margin-top: 12px;
    }

    .modal-body table td .btn {
        width: 100%;
    }

    #open-status-modal .modal-content {
        min-height: 330px;
    }

    #chat-name-modal #chat-name {
        margin-bottom: 10px;
    }

}

@media (max-height: 767px) {
    .main-content .large-videos {
/*        padding-bottom: 80px;*/
    }

    .main-content .small-videos {
        height: 80px;
        bottom: 80px;
    }

    .main-content .btn-invite {
        padding-left: 10px;
    }

    .main-content .btn-invite .icon-user {
        font-size: 60px;
    }

    .main-content .btn-invite .icon-plus-sign {
        font-size: 25px;
        bottom: 38px;
        right: 14px;
        position: relative;
    }
}

/*@media (max-height: 480px) {*/
/*    .main-content .large-videos {*/
/*        padding-bottom: 80px;*/
/*    }*/

/*    .main-content .small-videos {*/
/*        height: 80px;*/
/*        bottom: 80px;*/
/*    }*/
/*}*/

/*
.room-head {
    height: 8.53%;
}

.room-info {
    margin-top: 12px;
    font-weight: bold;
}

#room-title {
    font-size: 15pt;
    padding: 0 0 0 0;
    min-height: 25px;
    border: none;
    font-weight: bold;
    box-shadow: none;
}

#room-description {
    font-size: 10pt;
    padding: 0 0 0 1px;
    min-height: 25px;
    border: none;
    box-shadow: none;
}

.room-invite {
    padding: 18px 0 0 0;
    text-align: right;
}

.invite-control {
    margin-bottom: 6px;
}

.invite-open-status {
}

.invite-label {
    font-size: 10pt;
    font-weight: bold;
}

.invite-label-right {
    margin-left: 8px;
}

.invite-icons-wrapper {
    padding-left: 5px;
}

.invite-icon {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 16px;
}

.invite-icons-wrapper > a {
    text-decoration:none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}

.invite-icons-wrapper > a:link { color:gray; }

.invite-icons-wrapper > a:visited { color:gray; }

.invite-icons-wrapper > a:hover { color:black; }

.invite-icons-wrapper > a:active { color:gray; }

#remote {
    position: absolute;
    width: 100%;
    -webkit-transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
}
*/
